.navbar{
  background: #333;
  border-bottom: none;
  .site-name{
    color: #fff  
  }
  a{
      text-decoration: none;
      color: #fff !important;
    }
    
  .links{
    background-color: transparent;
    .nav-item,.dropdown-title{
      color: #fff;
    }
  }
}
.page .theme-default-content:not(.custom){
  max-width:none
}
.theme-default-content:not(.custom) > *:first-child {
    margin-top:0;
} 
.page{
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    top: 56px;
}
.content__default{
 padding: 0px!important;
 height: calc(100% - 2px)!important;
}
.page-edit{
  display:none
}